<div class="container my-4">
  <div class="row">
    <div class="col">
      <h2>
        Browse Open Positions 
        {{#if session.user}}
          <a href="/find_applications/create" class="mx-4 btn btn-primary">Post new</a>
        {{/if}}
      </h2>
      <div style="max-width:600px; margin:auto;">
        {{#each posts}}
          {{>post}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  // functionality for deleting posts will be used in >post partial
  function deletePost(postId) {
    if (confirm('Delete Comment?')) {
      fetch('/find_applications/remove/' + postId, {
        method: 'DELETE'
      }).then(response => {
        if (response.ok) {
          window.location.reload();
        } else {
          alert('Failed to delete application.' + response.status);
        }
      });
    }
  }
</script>