<div class="container-fluid text-center d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div>
    <h1>Welcome to Career Compass</h1>
    <p class="mt-4">
      You can register <a href="/register" >here</a>, or you can explore the other features of Career Compass.
    </p>
  </div>
</div>