<div class="container" style="text-align: center; padding: 60px;">
  <img 
    style="border-radius: 100%; width:256px; height:256px; object-fit:cover;" 
    src={{image_url}} 
    alt="Your profile picture"
  >
  <h1>{{username}}</h1>
  <p>{{description}}</p>
</div>
