<div class="container my-4">
  <div class="row">
    <div class="col">
      <h2>Register</h2>
    </div>
    <form method="post" action="/register">
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name='username' required>
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name='password' required>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    <div class="my-4">
      Already have an account?
      <a href="/login">Log in Here</a>
    </div>
  </div>
</div>
</div>